<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juanjosecarosierra.proyecto_actaplus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PortadaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.CargaAniosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.JornadaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MenuArbitroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.DatosPersonalesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.PartidosArbitroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.JornadasAnioActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ImagenActaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.EditarPartidoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>